* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea,
button,
select {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
